{{ template "head" . }}

{{ template "prom_content_head" . }}
<h1>System Resources</h1>

<h3>Memory</h3>
<div id="memory_gauge"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#memory_gauge"),
  expr: "ircas_memory_gauge",
  name: "[[ircinst]]-[[type]]",
  renderer: "line",
  height: 150,
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yUnits: "bytes",
  yTitle: "Usage"
})
</script>

<h3>IRC Client Connections</h3>
<div id="irc_cli_conn"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#irc_cli_conn"),
  expr: "ircas_conn_clients",
  name: "[[ircinst]]-[[domain]]",
  renderer: "line",
  height: 150,
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yUnits: "connection",
  yTitle: "TCP Connections"
})
</script>

<h1>Requests</h1>

<h3>Global Message Rate</h3>
<div id="ircas_requests_timer_count"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#ircas_requests_timer_count"),
  expr: "sum(rate(ircas_requests_timer_count[2m])) by (outcome)",
  name: "[[outcome]]",
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yUnits: "requests/s",
  yTitle: "Requests"
})
</script>

<h3>Global Matrix-to-IRC Message Rates</h3>
<div id="ircas_mxtoirc_requests_timer_count"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#ircas_mxtoirc_requests_timer_count"),
  expr: "sum(rate(ircas_requests_timer_count{direction=\"toirc\"}[2m])) by (outcome)",
  name: "[[outcome]]",
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yUnits: "requests/s",
  yTitle: "Requests"
})
</script>

<h3>Global IRC-to-Matrix Message Rates</h3>
<div id="ircas_irctomx_requests_timer_count"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#ircas_irctomx_requests_timer_count"),
  expr: "sum(rate(ircas_requests_timer_count{direction=\"fromirc\"}[2m])) by (outcome)",
  name: "[[outcome]]",
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yUnits: "requests/s",
  yTitle: "Requests"
})
</script>

<h3>Global Timings</h3>
<div id="ircas_requests_timer"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#ircas_requests_timer"),
  expr: "sum(rate(ircas_requests_timer_sum[5m])) by (outcome) / sum(rate(ircas_requests_timer_count[5m])) by (outcome)",
  name: "[[outcome]]",
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yUnits: "ms",
  yTitle: "Duration"
})
</script>

<h3>Global Matrix-to-IRC Timings</h3>
<div id="ircas_mxtoirc_requests_timer"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#ircas_mxtoirc_requests_timer"),
  expr: "sum(rate(ircas_requests_timer_sum{direction=\"toirc\"}[5m])) by (outcome) / sum(rate(ircas_requests_timer_count{direction=\"toirc\"}[5m])) by (outcome)",
  name: "[[outcome]]",
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yUnits: "ms",
  yTitle: "Duration"
})
</script>

<h3>Global IRC-to-Matrix Timings</h3>
<div id="ircas_irctomx_requests_timer"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#ircas_irctomx_requests_timer"),
  expr: "sum(rate(ircas_requests_timer_sum{direction=\"fromirc\"}[5m])) by (outcome) / sum(rate(ircas_requests_timer_count{direction=\"fromirc\"}[5m])) by (outcome)",
  name: "[[outcome]]",
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yUnits: "ms",
  yTitle: "Duration"
})
</script>

{{ template "prom_content_tail" . }}

{{ template "tail" }}
